<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="ru.firstbit.bitmobile" android:versionName="2.3.15" android:versionCode="28">
	<uses-sdk android:targetSdkVersion="10" />
	<application android:label="@string/bitMobile" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>