<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BitMobileServerId" value="1"/>
    <add key="SolutionsFolder" value="SetSolutionCatalog"/>
    <add key="DataBaseServer" value="SetServerSettings"/>
    <add key="RootPassword" value="SetRootPaswrd"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
		   <customErrors mode="RemoteOnly"/>
	<httpRuntime maxRequestLength="1048576" />	
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <add name="BMWebDAV.BMWebDAVModule" type="BMWebDAV.BMWebDAVModule"/>
    </modules>
    <directoryBrowse enabled="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1000000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>